:root{
    --fundo: #2F4F4F;
    --cartao-frente: #008080;
    --cartao-verso: #4682B4;
    --destaque: #5F9EA0;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
}